In [1]:
import dhlab.nbtext as nb
import dhlab.module_update as mu

In [4]:
mu.update('nb_elastic_collocations')

Updated file `C:\Users\larsj\Documents\GitHub\dhlab_nb_api\nb_elastic_collocations.py`

In [6]:
import nb_elastic_collocations as ncol

In [25]:
nb.sorted_wildcardsearch(
    {
        'word': 'a*t*', 
        'freq_lim': 50, 
        'limit': 50, 
        'factor': -1})

          a*t*
at   199527660
alt   14560681
att    4719899
art    1630533
akt     231929
amt     177868
ant     170414
act     167551
aat     149494
aut     108394
agt      50541
ait      50361
ath      32744
ate      32213
ast      30276
atm      28911
aft      28325
ata      21753
adt      16485
abt      13026
apt      12443
aet      12213
ato      12164
at-      11713
ati      10547
aT       10176
avt       7339
atl       6573
atq       5277
aot       4948
atn       4717
atf       4323
ats       4085
a-t       3983
atø       3931
a.t       3858
até       3536
atu       3358
atb       3020
atr       2906
atj       2694
aBt       2592
atg       2405
a1t       2319
atc       1994
azt       1707
aTb       1636
ajt       1487
aUt       1411
aty       1341

In [8]:
nb.wildcardsearch??

In [ ]:
ncol.get_all_konks()